<h2>All Packages</h2>
<div class="table-responsive">
    <table class="table table-striped table-hover datatable">
        <thead>
            <tr>
                <th>Package</th>
                <th>Overlays</th>
            </tr>
        </thead>
        <tbody>
            {{range .GlobalPackages}}
            {{$catName := .Category}}
            {{$pkgName := .Name}}
            <tr>
                <td><a href="{{.Category}}/{{.Name}}/" class="fw-bold">{{.Category}}/{{.Name}}</a></td>
                <td>
                    <div class="d-flex flex-wrap gap-1">
                        {{range .ReposList}}
                            <a href="../repos/{{.RepoName}}/categories/{{$catName}}/packages/{{$pkgName}}/">{{formatQualifiedPackage $catName $pkgName "" .RepoName}}</a>
                        {{end}}
                    </div>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
