<h2>Profile: {{.ProfilePath}}</h2>

{{range .ProfileList}}
<div class="metadata-section">
    <h3>Provided by: <a href="{{$.BaseURL}}repos/{{.RepoName}}/">{{.RepoName}}</a></h3>
    {{if .GlobalProfile.IsDesc}}
    <p><strong>Arch:</strong> {{.GlobalProfile.DescArch}}</p>
    <p><strong>Status:</strong> {{.GlobalProfile.DescStat}}</p>
    {{end}}

    {{if .GlobalProfile.Parents}}
    <h4>Parents:</h4>
    <ul>
        {{range .GlobalProfile.Parents}}
        <li><a href="{{$.BaseURL}}profiles/{{.}}/">{{.}}</a></li>
        {{end}}
    </ul>
    {{end}}

    {{if .GlobalProfile.Children}}
    <h4>Children:</h4>
    <ul>
        {{range .GlobalProfile.Children}}
        <li><a href="{{$.BaseURL}}profiles/{{.}}/">{{.}}</a></li>
        {{end}}
    </ul>
    {{end}}
</div>
{{end}}
