<h2>Profile: {{.ProfilePath}}</h2>

{{range .ProfileList}}
<div class="metadata-section">
    <h3>Provided by: <a href="{{$.BaseURL}}repos/{{.RepoName}}/">{{.RepoName}}</a></h3>
    {{if .Profile.IsDesc}}
    <p><strong>Arch:</strong> {{.Profile.DescArch}}</p>
    <p><strong>Status:</strong> {{.Profile.DescStat}}</p>
    {{end}}

    {{if .Profile.Parents}}
    <h4>Parents:</h4>
    <ul>
        {{range .Profile.Parents}}
        <li><a href="{{$.BaseURL}}profiles/{{.}}/">{{.}}</a></li>
        {{end}}
    </ul>
    {{end}}

    {{if .Profile.Children}}
    <h4>Children:</h4>
    <ul>
        {{range .Profile.Children}}
        <li><a href="{{$.BaseURL}}profiles/{{.}}/">{{.}}</a></li>
        {{end}}
    </ul>
    {{end}}
</div>
{{end}}
