<h2>Profile: {{.ProfilePath}}</h2>

<div class="metadata-section">
    <h3>Provided by: <a href="{{.BaseURL}}repos/{{.RepoName}}/">{{.RepoName}}</a></h3>
    {{if .RepoProfile.IsDesc}}
    <p><strong>Arch:</strong> {{.RepoProfile.DescArch}}</p>
    <p><strong>Status:</strong> {{.RepoProfile.DescStat}}</p>
    {{end}}

    {{if .RepoProfile.Parents}}
    <h4>Parents:</h4>
    <ul>
        {{range .RepoProfile.Parents}}
        <li><a href="{{$.BaseURL}}repos/{{$.RepoName}}/profiles/{{.}}/">{{if eq . ".."}}.. (Overlay Defaults){{else}}{{.}}{{end}}</a></li>
        {{end}}
    </ul>
    {{end}}

    {{if .RepoProfile.Children}}
    <h4>Children:</h4>
    <ul>
        {{range .RepoProfile.Children}}
        <li><a href="{{$.BaseURL}}repos/{{$.RepoName}}/profiles/{{.}}/">{{if eq . ".."}}.. (Overlay Defaults){{else}}{{.}}{{end}}</a></li>
        {{end}}
    </ul>
    {{end}}

    {{if .RepoProfile.Files}}
    <h4>Files:</h4>
    <ul>
        {{range $name, $content := .RepoProfile.Files}}
        <li><a href="{{$.BaseURL}}repos/{{$.RepoName}}/profiles/{{$.RepoProfile.Path}}/{{$name}}.html">{{$name}}</a></li>
        {{end}}
    </ul>
    {{end}}
</div>
