{{define "content"}}
<h2>Generation Statistics</h2>

<div class="metadata-section">
    <strong>Date:</strong> {{now.Format "2006-01-02 15:04:05 MST"}}<br>
    {{if .GenInfo}}
    {{if .GenInfo.RepositoriesXML}}<strong>Repositories XML:</strong> {{.GenInfo.RepositoriesXML}}<br>{{end}}
    {{if .GenInfo.Args}}<strong>Arguments:</strong> {{join .GenInfo.Args " "}}<br>{{end}}
    {{if .GenInfo.TimeTaken}}<strong>Time Taken:</strong> {{.GenInfo.TimeTaken}}<br>{{end}}
    {{if .GenInfo.MemoryConsumed}}<strong>Memory:</strong> {{.GenInfo.MemoryConsumed}}<br>{{end}}
    {{if .GenInfo.DiskConsumed}}<strong>Disk:</strong> {{.GenInfo.DiskConsumed}}<br>{{end}}
    <strong>Fast Git:</strong> {{.GenInfo.FastGit}}<br>
    <strong>Recent Duration:</strong> {{.GenInfo.RecentDuration}}<br>
    {{end}}
</div>

{{end}}
