
<h2>Category: {{.Category.Name}}</h2>
<ul>
    {{range .Category.Packages}}
        <li>
            {{if eq (len .ReposList) 1}}
                {{$repo := index .ReposList 0}}
                <a href="{{$.BaseURL}}repos/{{$repo.RepoName}}/categories/{{$.Category.Name}}/packages/{{.Name}}/">{{.Name}}</a>
            {{else}}
                <a href="{{$.BaseURL}}packages/{{$.Category.Name}}/{{.Name}}/">{{.Name}}</a> (ambiguous, available in {{len .ReposList}} overlays)
            {{end}}
        </li>
    {{end}}
</ul>
